$header-padding-right-left: 8.54%;
$header-padding-bottom-top: 5rem;

.catalog-main {
  padding: $header-padding-bottom-top $header-padding-right-left;
  &__content {
    height: 65vh;
  }
  &__title {
    margin-top: 7.9875rem;
    font-weight: 500;
    font-size: 3.625rem;
    margin-bottom: 2rem;
  }

  &__subtitle-block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.875rem;
  }
  &__line-subtitle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 8 / span 1;
    width: 100%;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 1.125rem;
    grid-column: span 4 / -1;
  }

  &__line-subtitle {
    height: 0.1875rem;
    background-color: #e5e5e5;
    width: 100%;
  }
}
