$header-padding-top: 7.25rem;
$header-padding-right: 8.54%;
$header-padding-bottom: 4.15rem;
$header-padding-left: 8.54%;

.catalog-main {
  position: relative;
  padding: $header-padding-top 0 $header-padding-bottom 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1.875rem;
    padding: 0 $header-padding-right 0 $header-padding-left;
  }

  &__title {
    font-weight: 500;
    font-size: 3rem;
  }

  &__more {
    font-weight: 400;
    font-size: 1rem;
    text-decoration-line: underline;
    cursor: pointer;
    padding-bottom: 0.5rem;
  }

  &__cover-items {
    padding: 0 calc(8.54% - 1.8rem) 0 calc(8.54% - 1.8rem);
  }

  &__items {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.875rem;
    grid-auto-columns: calc((100% - 2 * 1.875rem) / 3);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 3.1rem 1.8rem 3.1rem 1.8rem;
  }

  &__items::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(30, 32, 37, 0.3);
  }

  &__prev {
    position: absolute;
    top: calc(
      7.25rem + 3rem + 1.875rem +
        (
          (
              100% -
                (
                  7.25rem * 2 + 3rem + 1.875rem + 0.6875rem * 2 + 1rem + 1rem +
                    2rem + 1.125rem + 1rem + 1.25rem
                )
            ) / 2
        )
    );
    left: 3.33%;
    cursor: pointer;
  }

  &__next {
    position: absolute;
    top: calc(
      7.25rem + 3rem + 1.875rem +
        (
          (
              100% -
                (
                  7.25rem * 2 + 3rem + 1.875rem + 0.6875rem * 2 + 1rem + 1rem +
                    2rem + 1.125rem + 1rem + 1.25rem
                )
            ) / 2
        )
    );
    right: 3.33%;
    cursor: pointer;
  }
}
