$header-padding-top: 3.125rem;
$header-padding-right: 8.54%;
$header-padding-bottom: 4.1875rem;
$header-padding-left: 8.54%;

$header-padding-top-mobile: 2.1875rem;
$header-padding-right-mobile: 5.33%;
$header-padding-bottom-mobile: 2.1875rem;
$header-padding-left-mobile: 5.33%;

.footer {
  padding: $header-padding-top $header-padding-right $header-padding-bottom
    $header-padding-left;
  background-color: #18191d;

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.875rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
  }

  &__information {
    display: flex;
    flex-direction: column;
    grid-column: span 3;
  }

  &__franchise {
    display: flex;
    flex-direction: column;
    grid-column: span 3;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
  }

  &__first-title-main {
    margin-bottom: 0.75rem;
    font-weight: 400;
    font-size: 0.875rem;
  }
  &__second-title-main {
    margin-bottom: 2.5rem;
    font-weight: 400;
    font-size: 0.875rem;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__title {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 1.75rem;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__phone {
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  &__location {
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
  }

  &__pay > *:not(:last-child) {
    margin-right: 2.4375rem;
  }

  &__social-media a {
    cursor: pointer;
  }

  &__social-media > *:not(:last-child) {
    margin-right: 1.5rem;
  }
  @media (max-width: 1160px) {
    &__phone {
      font-weight: 400;
      font-size: 0.75rem;
      margin-bottom: 0.5rem;
    }
  }
  @media (max-width: 1024px) {
    &__content {
      display: flex;
    }
    &__first-title-main {
      font-size: 0.9375rem;
    }
    &__second-title-main {
      font-size: 0.9375rem;
    }
    &__subtitle {
      font-size: 0.9375rem;
    }
    &__logo {
      margin-bottom: 1.5rem;
    }

    &__title {
      margin-bottom: 1.5rem;
    }
    &__main {
      width: 25.23%;
    }
    &__pay {
      display: flex;
      justify-content: space-between;
    }
    &__pay > *:not(:last-child) {
      margin-right: 0;
    }
    &__location {
      margin-bottom: 1rem;
    }
    &__phone {
      font-weight: 400;
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }
  }
  @media (max-width: 960px) {
    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.875rem;
    }
    &__main {
      display: flex;
      flex-direction: column;
      grid-column: span 1;
      width: 100%;
    }

    &__information {
      display: flex;
      flex-direction: column;
      grid-column: span 1;
      margin-left: 30%;
    }

    &__franchise {
      display: flex;
      flex-direction: column;
      grid-column: span 1;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      grid-column: span 1;
      margin-left: 30%;
    }

    &__pay {
      width: 16rem;
    }
  }
  @media (max-width: 640px) {
    &__content {
      grid-gap: 1.9375rem;
      row-gap: 0;
    }
    &__main {
      grid-column: span 2;
    }
    &__information {
      grid-column: span 1;
      margin-left: 0;
    }
    &__franchise {
      grid-column: span 1;
    }
    &__contacts {
      grid-column: span 2;
      margin-left: 0;
    }
    &__title {
      font-size: 1rem;
    }
    &__subtitle {
      font-size: 0.75rem;
    }

    &__first-title-main {
      margin-bottom: 0.5rem;
    }
    &__second-title-main {
      margin-bottom: 1rem;
    }
    &__pay {
      margin-bottom: 1.5rem;
    }
    &__title {
      margin-bottom: 1rem;
    }
    &__information {
      margin-bottom: 1.5rem;
    }
    &__social-media > *:not(:last-child) {
      margin-right: 3.25rem;
    }
  }

  @media (max-width: 360px) {
    &__pay {
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  .footer {
    padding: $header-padding-top-mobile $header-padding-right-mobile
      $header-padding-bottom-mobile $header-padding-left-mobile;
  }
}
