$header-padding-left-right: 8.54%;

$header-padding-left-right-mobile: 5.33%;

.landing-main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: 0 $header-padding-left-right;

  &__title {
    margin-top: 7.9875rem;
    font-weight: 500;
    font-size: 6rem;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1.94rem;
    max-width: 24.19rem;
    text-align: center;
  }

  &__button {
    background: #df83ac;
    border-radius: 0.625rem;
    filter: drop-shadow(0px 0px 1.25rem #a47087);
    padding: 0.75rem 1.25rem;
    font-weight: 500;
    transition: background 0.3s ease;
  }

  &__button:hover {
    background: #d96591;
  }

  &__button:active {
    background: #c44f7c;
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(30, 32, 37, 0.3);
  }

  @media (max-width: 1024px) {
    &__title {
      margin-top: 7.9875rem;
      font-weight: 500;
      font-size: 6rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    &__subtitle {
      font-weight: 500;
      font-size: 1.25rem;
      max-width: 36rem;
      margin-bottom: 3rem;
    }

    &__button {
      border-radius: 0.625rem;
      padding: 0.9375rem 1.4375rem;
      font-size: 1.125rem;
    }
  }

  @media (max-width: 900px) {
    &__title {
      font-size: 5rem;
    }
  }

  @media (max-width: 740px) {
    &__title {
      margin-top: 4.8375rem;
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    &__subtitle {
      font-weight: 500;
      font-size: 1rem;
      width: 50%;
      margin-bottom: 1rem;
    }
    &__button {
      font-weight: 500;
      font-size: 1rem;
      padding: 0.9375rem 2rem;
    }
  }

  @media (max-width: 620px) {
    &__subtitle {
      width: 70%;
    }
  }

  @media (max-width: 400px) {
    &__subtitle {
      width: 80%;
    }
  }
}

@media (max-width: 1024px) {
  .landing-main-page {
    height: 60vh;
  }
}

@media (max-width: 740px) {
  .landing-main-page {
    height: 50vh;
  }
}

@media (max-width: 740px) {
  .landing-main-page {
    padding: 0 $header-padding-left-right-mobile;
  }
}
