.landing-main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__title {
    margin-top: 127.8px;
    font-weight: 500;
    font-size: 96px;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 1.94rem;
    max-width: 24.19rem;
    text-align: center;
  }

  &__button {
    background: #df83ac;
    border-radius: 0.625rem;
    filter: drop-shadow(0px 0px 1.25rem #a47087);
    padding: 0.75rem 1.25rem;
    font-weight: 500;
  }
}
