.css-8ucetn-MuiButtonBase-root-MuiIconButton-root circle {
  color: #e5e5e5;
}

.css-8ucetn-MuiButtonBase-root-MuiIconButton-root svg {
  width: 1.0625rem;
  height: 1.0625rem;
}

.css-bbreus-MuiButtonBase-root-MuiIconButton-root circle {
  color: rgba(229, 229, 229, 0.5);
}

.css-bbreus-MuiButtonBase-root-MuiIconButton-root svg {
  width: 0.75rem;
  height: 0.75rem;
}

.css-1m9128y {
  display: flex;
  justify-content: center;
  gap: 1.4375rem;
  margin-top: 2rem !important;
  margin-bottom: 1rem;
}

.css-1g04gm2-MuiButtonBase-root-MuiIconButton-root {
  background-color: rgba($color: #000000, $alpha: 0) !important;
}

.css-1abc02a .css-1g04gm2-MuiButtonBase-root-MuiIconButton-root,
.css-hn784z .css-1g04gm2-MuiButtonBase-root-MuiIconButton-root {
  top: calc(100% - 30px - 17px) !important;
}

.css-1abc02a {
  right: 0 !important;
}

.css-hn784z {
  left: 0 !important;
}

@media (min-width: 1000px) {
  .css-1abc02a {
    right: 5vh !important;
  }

  .css-hn784z {
    left: 5vh !important;
  }
}

@media (min-width: 1300px) {
  .css-1abc02a {
    right: 16vh !important;
  }

  .css-hn784z {
    left: 16vh !important;
  }
}
