.css-1m9128y {
  display: flex;
  justify-content: center;
  gap: 1.4375rem;
  margin-top: 2rem !important;
  margin-bottom: 1rem;
}

.css-1abc02a {
  right: 0 !important;
}

.css-hn784z {
  left: 0 !important;
}

@media (min-width: 1000px) {
  .css-1abc02a {
    right: 5vh !important;
  }

  .css-hn784z {
    left: 5vh !important;
  }
}

@media (min-width: 1300px) {
  .css-1abc02a {
    right: 16vh !important;
  }

  .css-hn784z {
    left: 16vh !important;
  }
}
